#book{
    border: 5px solid black;
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: coral;
    text-align: center;
}
/* #book{
    border: 5px solid black;  /* red
    height: 400px;
    width: 300px;
    background-color: coral;
    padding: 10px;
    margin: 10px;
    text-align: center;
} */